.active {
    border: green 3px solid
}

.inactive {
    border: #dc0b00 3px solid;
}

.lbbtn {
    border: white solid 1px;
}
.round {
    border-radius: 5px;
}
.minheight{
    min-height: 100%;
}
.timer{
    border: solid black 2px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #343a40;
    color: #f8f9fa;
    position: fixed;
    right: 40px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
text-align: center;
}